priority 0

snippet snip "ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Trigger} "${2:Description}" ${3:b}
${4:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet global "global snippet" b
global !p
from snippet_helpers import *
endglobal
endsnippet
