priority 100
extends php

global !p
from snippet_helpers import *
endglobal

snippet doctype "doctype definition" b
<!doctype html>
$0
endsnippet

snippet html "html tag" b
<html <?php language_attributes(); ?>>
	$0
</html>
endsnippet

snippet meta:char "meta tag: charset" b
endsnippet

