;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
{:main
 [{:des "terminals (almost for vim)"
   :rules [:terminals
           [:escape [:japanese_eisuu :escape]]
           [:!Topen_bracket [:japanese_eisuu :!Topen_bracket]]
           [:!To [:japanese_eisuu :!To]]
           [:!Tg [:japanese_eisuu :!Tg]]
           ]}
  {:des "browsers"
   :rules [:browsers
           [:!Ct [:japanese_eisuu :!Ct]]
           [:!Cf [:japanese_eisuu :!Cf]]
           [:!Cl [:japanese_eisuu :!Cl]]
           [:!Ce :edit_omnibox]
           [:!Tl :unfocus_omnibox]
           [:!CSb :bookmark_search]
           ]}
  {:des "launch apps"
   :rules [[[:j :a] [:japanese_eisuu [:open "/Applications/Alacritty.app"]]]
           [[:j :c] [:japanese_eisuu [:open "/Applications/Google Chrome.app"]]]
           [[:j :d] [:japanese_eisuu [:open "/Applications/DeepL.app"]]]
           [[:j :f] [:japanese_eisuu [:open "/System/Library/CoreServices/Finder.app"]]]
           ]}
  {:des "alfred"
   :rules [:!in_alfred
           [:alfred [:japanese_eisuu :alfred ["in_alfred" 1]]]
           [:alfred_clipboard [:japanese_eisuu :alfred_clipboard ["in_alfred" 1]]]

           :in_alfred
           [:!Tw :delete_one_word]
           [:!Tu :delete_all_left]

           ;; escaping
           [:!Tm [:return_or_enter ["in_alfred" 0]]]
           [:return_or_enter [:return_or_enter ["in_alfred" 0]]]
           [:escape [:escape ["in_alfred" 0]]]
           [:!Topen_bracket [:escape ["in_alfred" 0]]]
           [:alfred [:japanese_eisuu :alfred ["in_alfred" 0]]]
           [:alfred_clipboard [:japanese_eisuu :alfred_clipboard ["in_alfred" 0]]]
           ]}
  {:des "initialize :macbookair_builtin_keyboard"
   :rules [:macbookair_builtin_keyboard
           [:##backslash :left_control nil {:alone :return_or_enter}]
           [:#Sdelete_or_backspace :grave_accent_and_tilde]
           [:#Sinternational3 :backslash]
           [:##japanese_eisuu :left_command]
           [:##japanese_kana :left_command]
           [:##right_command :left_command]
           [:##fn :left_option]
           [:##right_shift :left_shift]
           [:##international1 :left_shift]]}
  {:des "initialize select input source keys"
   :rules [[:!TSj :japanese_kana]
           [:!TSsemicolon :japanese_eisuu]]}
  {:des "caps_lock to ctrl"
   :rules [[:##caps_lock :left_control]]}
  {:des "enter to ctrl"
   :rules [[:##return_or_enter :left_control nil {:alone :return_or_enter}]]}
  {:des "ctrl-m to enter"
   :rules [:!terminals [:!Tm :return_or_enter]]}
  {:des "ctrl-i to tab"
   :rules [:!terminals [:!Ti :tab]]}
  {:des "ctrl-h to backspace"
   :rules [:!terminals [:!Th :delete_or_backspace]]}
  {:des "ctrl-[ to escape"
   :rules [:!terminals [:!Topen_bracket :escape]]}
  {:des "emacs-like key bindings"
   :rules [:!terminals
           [:!Tb :left_arrow]
           [:!Tn :down_arrow]
           [:!Tp :up_arrow]
           [:!Tf :right_arrow]
           [:!Ob :!Oleft_arrow]
           [:!Of :!Oright_arrow]
           [:!Tw :delete_one_word]
           [:!Tu :delete_all_left]
           ]}
  ]
 :templates {:open "open \"%s\""
             :opena "open -a \"%s\""}
 :froms {:alfred {:key :spacebar :modi [:left_option]}
         :alfred_clipboard {:key :h :modi [:left_command :left_shift]}
         }
 :tos {:alfred {:key :spacebar :modi [:left_option]}
       :alfred_clipboard {:key :h :modi [:left_command :left_shift]}
       :delete_one_word {:key :delete_or_backspace :modi [:left_option]}
       :delete_all_left {:key :delete_or_backspace :modi [:left_command]}
       :edit_omnibox [{:key :japanese_eisuu}
                      {:key :l :modi :left_command}
                      {:key :right_arrow}
                      {:key :right_arrow}]
       :unfocus_omnibox [{:key :japanese_eisuu}
                         {:key :l :modi :left_command}
                         {:key :u}
                         {:key :return_or_enter}]
       :bookmark_search [{:key :japanese_eisuu}
                         {:key :t :modi :left_command}
                         {:key :b}
                         {:key :m}
                         {:key :spacebar}]
       }
 :applications {:terminals ["^io\\.alacritty$"
                            "^com\\.apple\\.Terminal$"]
                :browsers ["^com\\.google\\.Chrome$"]
                :finder ["^com\\.apple\\.finder$"]
                }
 :devices {:macbookair_builtin_keyboard [{:vendor_id 1452 :product_id 634}]}
 :input_sources {:kotoeri_roman {:input_mode_id "com.apple.inputmethod.Roman"
                                 :input_source_id "com.apple.inputmethod.Kotoeri.Roman"
                                 :language "en"}
                 :kotoeri_japanese {:input_mode_id "com.apple.inputmethod.Japanese"
                                    :input_source_id "com.apple.inputmethod.Kotoeri.Japanese"
                                    :language "ja"}}
 }
